/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Nanum+Gothic:wght@400;700&family=Raleway:wght@300;600&family=Work+Sans:wght@100&display=swap");

/*
=============== 
Variables
===============
*/
:root {
  /* fonts */
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondry: "Nanum Gothic", sans-serif;
  --ff-thirdly: "Raleway", sans-serif;
  --ff-fourth: "Work Sans", sans-serif;
  /* dark shades of primary color */
  --clr-primary-1: #2e4d81;
  --clr-primary-2: #253d66;
  --clr-primary-3: #203355;
  --clr-primary-4: #192741;
  /* primary/main color */
  --clr-primary-5: #162238;
  /* lighter shades of primary color */
  --clr-primary-6: #141f33;
  --clr-primary-7: #111a2b;
  --clr-primary-8: #0e1522;
  --clr-primary-9: #0c121d;
  --clr-primary-10: #090e16;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  /* btn color and some text */
  --clr-btn-text: #f5a425;
  /* other */
  --clr-white: #fff;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.5rem;
}

/*
=============== 
Global Styles
===============
*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 98vw;
  }
}

/*
=============== 
Header
===============
*/
.header {
  background-image: linear-gradient(rgba(22, 34, 56, 0.8),
      rgba(22, 34, 56, 0.8));
  position: relative;
  width: 100%;
  height: 100%;
}

/*
=============== 
Video
===============
*/
#header-video {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/*
=============== 
Navbar
===============
*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(22, 34, 56, 0.9);
  z-index: 2;
}

.navbar .nav-center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar .nav-center .nav-links {
  display: none;
}

.navbar .nav-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.navbar .nav-header .title {
  color: var(--clr-white);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar .nav-header .title span {
  color: var(--clr-btn-text);
}

.navbar .nav-header .nav-icon {
  background-color: transparent;
  border: none;
  color: var(--clr-white);
  font-size: 2rem;
  cursor: pointer;
}

.navbar .nav-center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 950px) {
  .navbar .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .navbar .nav-center .nav-links {
    display: flex;
  }

  .navbar .nav-center .nav-links li:first-child .nav-link {
    border: 1px solid var(--clr-btn-text);
  }

  .navbar .nav-center .nav-links .nav-link {
    display: block;
    color: var(--clr-white);
    text-transform: uppercase;
    margin-right: 0.7rem;
    padding: 0.5rem;
    transition: var(--transition);
    border: 1px solid transparent;
  }

  .navbar .nav-center .nav-links .nav-link:hover {
    border: 1px solid var(--clr-btn-text);
  }

  .navbar .nav-header .nav-icon {
    display: none;
  }
}

/*
=============== 
Hero
===============
*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .hero-banner {
  text-align: center;
  color: var(--clr-white);
  padding: 0 3rem;

  /* background-color: red; */
}

.hero .hero-banner h3 {
  font-size: 1rem;
}

.hero .hero-banner h3,
.hero .hero-banner h2 {
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}

.hero .hero-banner h2 span {
  color: var(--clr-btn-text);
}

.hero .hero-banner .hero-btn {
  display: inline-block;
  background-color: var(--clr-btn-text);
  color: var(--clr-white);
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (min-width: 950px) {
  .hero .hero-banner h2 {
    font-size: 3.5rem;
  }
}

/*
=============== 
Information
===============
*/
.information {
  background-color: var(--clr-primary-8);
}

.information .single-info {
  color: var(--clr-white);
  padding: 0.875rem 1.5rem;
  height: 95px;
  overflow: hidden;
  transition: var(--transition);
}

.information .single-info:hover {
  height: 192.39px;
  overflow: visible;
  background-color: var(--clr-btn-text);
}

.information .single-info .info-icon {
  font-size: 1.35rem;
  margin-bottom: 0.5rem;
}

.information .single-info h3 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.information .single-info p,
.information .single-info a {
  color: var(--clr-white);
}

.information .single-info a {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  border-bottom: 2px solid var(--clr-white);
}

@media screen and (min-width: 992px) {
  .information .information-center {
    display: flex;
    /* gap: 1rem; */
    align-items: center;
  }

  .information .single-info {
    height: 210px;
    background-color: transparent;
    overflow: visible;
    flex: 1 0 calc(33.333% - 1rem);
    margin-top: 1rem;
  }

  .information .single-info:hover {
    height: 200px;
    background-color: transparent;
  }

  .information .single-info:first-child {
    margin-left: 1rem;
  }

  .information .single-info:last-child {
    margin-right: 1rem;
  }

  .information .single-info .title-and-icon {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  .information .single-info .title-and-icon h3 {
    font-size: 1rem;
  }
}

/*
=============== 
About Us
===============
*/
.about {
  background: url(./../images/choosing-bg.jpg) center/cover no-repeat fixed;
}

.about .title {
  color: var(--clr-white);
  /* background-color: red; */
  padding: 3rem 2rem;
}

.about .title h2 {
  font-size: 1rem;
  letter-spacing: 0;
  text-align: center;
  border: 1px solid var(--clr-grey-7);
  padding: 1rem 2rem;
  margin: 0 auto;
  max-width: 300px;
  width: 70%;
}

.about .about-center {
  display: flex;
}

.about .single-about {
  color: var(--clr-white);
  flex: 1 0 calc(33.333% - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .single-about:first-child {
  color: var(--clr-btn-text);
}

.about .single-about .single-about-title {
  font-size: 1rem;
  letter-spacing: 0;
}

.about .about-information-section {
  margin-top: 4rem;
  text-align: center;
  padding-bottom: 5rem;
}

.about .about-information-section img {
  max-width: 32rem;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0 auto;
}

.about .about-information-section .about-information {
  color: var(--clr-white);
  margin-top: 2rem;
}

.about .about-information-section .about-information h2 {
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
}

.about .about-information-section .about-information p {
  color: var(--clr-white);
  max-width: 30rem;
  margin: 0 auto;
  line-height: 1.8;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .about .about-information-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about .about-information-section img {
    width: 20rem;
  }

  .about .about-information-section img,
  .about .about-information-section .about-information {
    flex: 1 0 calc(50% - 1rem);
    align-self: center;
  }
}

/*
=============== 
Onlion Course
===============
*/
.onlion-course {
  background: url(./../images/technology-human-touch-background-modern-remake-creation-adam.jpg) center/cover no-repeat fixed;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.onlion-course .time-section h2 {
  color: var(--clr-white);
  letter-spacing: 0;
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
  max-width: 25rem;
  margin: 0 auto;
  line-height: 1.5;
}

.onlion-course .time-section h2 span {
  color: var(--clr-btn-text);
}

.onlion-course .time-section .time {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.onlion-course .time-section .time .time-part {
  background-color: rgba(241, 245, 248, 0.1);
  text-transform: uppercase;
  padding: 2rem;
  text-align: center;
  flex: 0 0 calc(50% - 0.5rem);
}

.onlion-course .time-section .time .time-part p {
  color: var(--clr-btn-text);
  font-weight: bold;
}

.onlion-course .time-section .time .time-part p span {
  font-size: 1.5rem;
  color: var(--clr-white);
}

.onlion-course .register {
  margin-top: 2rem;
  background-color: rgba(241, 245, 248, 0.1);
}

.onlion-course .register h3 {
  background-color: rgba(241, 245, 248, 0.2);
  padding: 3rem 2rem;
  color: var(--clr-white);
  font-size: 0.875rem;
  letter-spacing: 0;
  text-align: center;
}

.onlion-course .register form {
  padding: 3rem 2rem;
}

.onlion-course .register form .form-control {
  display: block;
  width: 90%;
  margin: 1rem auto;
  border: transparent;
  padding: 0.8rem;
  background-color: rgba(241, 245, 248, 0.15);
  color: var(--clr-white);
}

.onlion-course .register form .form-control:focus {
  outline: transparent;
}

.onlion-course .register form .form-control::-webkit-input-placeholder {
  color: var(--clr-white);
  text-transform: capitalize;
  letter-spacing: 2px;
}

.onlion-course .register form .form-control::-moz-placeholder {
  color: var(--clr-white);
  text-transform: capitalize;
  letter-spacing: 2px;
}

.onlion-course .register form .form-control:-ms-input-placeholder {
  color: var(--clr-white);
  text-transform: capitalize;
  letter-spacing: 2px;
}

.onlion-course .register form .form-control::-ms-input-placeholder {
  color: var(--clr-white);
  text-transform: capitalize;
  letter-spacing: 2px;
}

.onlion-course .register form .form-control::placeholder {
  color: var(--clr-white);
  text-transform: capitalize;
  letter-spacing: 2px;
}

.onlion-course .register form .submit-btn {
  border: transparent;
  text-transform: capitalize;
  padding: 0.8rem 1.4rem;
  background-color: var(--clr-btn-text);
  color: var(--clr-white);
  font-weight: bold;
  text-align: center;
  width: 30%;
  display: block;
  margin: 1rem auto;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .onlion-course .onlion-course-center {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .onlion-course .register form .submit-btn {
    width: 40%;
  }
}

@media screen and (min-width: 992px) {
  .onlion-course .time-section .time .time-part {
    flex: 1 0 calc(25% - 1rem);
  }

  .onlion-course .time-section h2 {
    font-size: 1.875rem;
  }
}

/*
=============== 
Presentation
===============
*/
.presentation {
  background: url(./../images/choosing-bg.jpg) center/cover no-repeat fixed;
}

.presentation .present-info {
  padding: 5rem 0;
}

.presentation .present-info h3,
.presentation .present-info h2 {
  color: var(--clr-white);
  letter-spacing: 0;
  margin-bottom: 1.5rem;
}

.presentation .present-info h2 span {
  color: var(--clr-btn-text);
}

.presentation .present-info p {
  color: var(--clr-white);
  margin-bottom: 1.5rem;
}

.presentation .present-info .btn {
  text-transform: uppercase;
  padding: 0.8rem 1.4rem;
  background-color: var(--clr-btn-text);
  color: var(--clr-white);
  font-weight: bold;
  text-align: center;
  width: 35%;
  display: block;
}

.presentation .present-video video {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .presentation .present-center {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .presentation .present-center .present-video {
    align-self: center;
  }
}

/*
=============== 
footer
===============
*/
.footer {
  background-color: var(--clr-primary-9);
  color: var(--clr-white);
  text-transform: capitalize;
  text-align: center;
  padding: 2rem;
  font-weight: bold;
  font-size: .8rem;
}

.footer span {
  border-bottom: 4px solid var(--clr-btn-text);
}